name: KONWERTER-XML-JSON-YML

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * 0" # Uruchamianie raz w tygodniu, w dowolnym dniu i godzinie
  workflow_dispatch: # Uruchamianie ręczne przez użytkownika

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout kodu
      uses: actions/checkout@v2

    - name: Skonfiguruj środowisko
      run: ./instalator.ps1
      
    - name: Przejście do dwóch folderów wyżej
      run: cd ../..
      
    - name: Budowanie pliku .exe
      run: pyinstaller --noconsole --onefile main.py

    - name: Przesyłanie pliku .exe
      uses: actions/upload-artifact@v3
      with:
        name: KONWERTER-XML-JSON-YML
        path: main.exe
