name: konwerter

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * 0" # Uruchamianie raz w tygodniu, w dowolnym dniu i godzinie
  workflow_dispatch: # Uruchamianie ręczne przez użytkownika

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout kodu
      uses: actions/checkout@v2

    - name: Skonfiguruj środowisko
      run: ./instalator.ps1

    - name: Budowanie pliku .exe
      run: |
        # Twoje polecenia budowania pliku .exe

    - name: Przesyłanie pliku .exe
      uses: actions/upload-artifact@v3
      with:
        name: Wygenerowany plik .exe
        path: <ścieżka_do_wygenerowanego_pliku>.ex
